{% extends "layout.html" %}
{% block body %}

<form action="/result" method="post">
    <div class="form-group">
        <p>祝日 日付</p>
        <input type="date" class="form-control" id="InputDate" name="holiday">
        <p>祝日 テキスト</p>
        <input type="text" class="form-control" id="InputText" name="holiday_text">
    </div>
    <button type="submit" class="btn btn-primary" name="button" value="insert_update">新規登録・更新</button>
    <button type="submit" class="btn btn-danger" name="button" value="delete">削除</button>
</form>
<br><br>

<form action="/list" method="get">
    <button type="submit" class="btn btn-secondary" name="button" value="ichiran">一覧出力</button>
</form>
{% endblock %}